/* font  merriweather f1 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font Inter f2 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

/* Shared Style Start */
.f1 {
    font-family: "Merriweather", serif;
}

.f2 {
    font-family: "Inter", sans-serif;
}

.sub-title {
    font-size: 30.72px;
    line-height: 38.4px;
    padding-top: 162px;
    padding-bottom: 30px;
    font-weight: 400px;

}

.primary-title {
    font-size: 69.12px;
    line-height: 80.2px;
    font-weight: 900px;
}

.color-sub-title {
    font-size: 23.04px;
    line-height: 27.84px;
    font-weight: 500;
    padding-top: 46.08px;
}

.sec-title {
    font-size: 46.08px;
    line-height: 55.68px;
    font-weight: 700;
    padding-top: 15.36px;

}


.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.clb {
    color: rgba(7, 2, 17, 1);
}

.clw {
    color: rgba(255, 255, 255, 1);
}

.clr {
    color: rgba(255, 0, 0, 1);
}

.cllw {
    color: rgba(255, 255, 255, 0.8);
}

.clmlb {
    color: rgba(7, 2, 17, 0.6);
}

main {
    margin: 48px 134px
}

/* Shared Style end */

/* Header Part Start */
.header-container {
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    height: 562px;
    border-radius: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


/* Heaader Part End */

/* category part start */
.catagory-container {
    margin-top: 96px;
    margin-bottom: 96px;
}

.color-title {
    font-size: 84.48px;
    line-height: 101.76px;
    font-weight: 700;
}


.category-img {
    padding-top: 46.08px;
}

/* category part end */

/* party part start */
.party-container {

    background: linear-gradient(90.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    width: 100%;
    height: 491px;
    margin-bottom: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party-row1 {
    padding-left: 100px;
    padding-bottom: 25px;
}

.title {
    font-size: 61.44px;
    font-weight: 900;


}

.description {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 400px;
    line-height: 28px;
}

.btn-text {
    padding-left: 30px;
    font-size: 19px;
    font-weight: 700;

}

.party-row2 {
    padding-right: 115px;

}

/* party part end */

/* schedule part start */
.schedule-container {
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    margin-bottom: 96px;
    padding: 96px;
}

.schedule-title {
    font-size: 30.72px;
    line-height: 50px;
    font-weight: 600px;
}


.btn-primary {
    background: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 50px;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: none;

}

/* schedule part start */

/* best offer start */

.best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.bost {
    padding-top: 0;

}

.bot {
    font-weight: 900px;
    padding-bottom: 18px;
    padding-right: 30px;
}

.best-offer-description {
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
}

.best-offer-row2 {
    box-sizing: border-box;
    border: 15px solid rgba(255, 0, 0, 1);
    padding: 20px;
    border-radius: 195px;
}

.best-offer-row3 {
    padding-left: 40px;

}

.best-offer-row3-col3{
   padding-top: 40px;
   
}

.best-offer-row3-col1{
    padding-top: 100px;
    padding-bottom: 10px;
}

/* best offer end */


/* Footer Part Start */

.footer-description {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
}

.bgb {
    background: rgba(7, 2, 17, 1);
}

.footer-row1 {
    display: flex;
    justify-content: space-between;
    padding: 48px 134px 10px 134px;
}

.footer-row2 {
    display: flex;
    /*  */
    justify-content: center;
    gap: 20px;
    padding: 41px 134px 41px 134px;
}

.footer-row3 {
    display: flex;
    justify-content: space-between;
    padding: 48px 134px 10px 134px;
}

hr {
    margin-left: 134px;
    margin-right: 134px;


}

/* Footer Part End */